.breathing__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3, p, #breath_session {
        margin-left: auto;
        margin-right: auto;
    }
}

.breath__container, .breath__animation {
    width: calc(100vw - 232px); 
    height: calc(100vw - 232px);  
    border-radius: 100%; 
}

@media (min-width: 700px) {
    .breath__container, .breath__animation {
        width: 400px; 
        height: 400px;  
    }
}

.breath__container {
    background-color: #b2b6e8;
    position: relative;
    margin-bottom: 2rem;
}

.breath__animation {
    background-color: #5e64b5; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto;
    transform: scale(0);
}




.breath__animation.session {
    animation: breathing cubic-bezier(.76,.01,.58,1) 6s infinite;
}

@keyframes breathing {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

#breathingdone {
    display: none;
    p {
        margin-top: 0.5rem;
        opacity: 0;
    }
    a {
        opacity: 0;
    }
}

#breathingdone.done {
    display: block;
    p {
        animation: fadeIn 0.3s;
        animation-fill-mode: forwards;
    }
    a {
        animation: fadeIn 0.3s ease-in 0.1s forwards;
        animation-fill-mode: forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}