body.welcome-page {
    background: $dark_bg;
}

.wrapper {
    height: 100%;
}

.welcome_header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('/images/homeimg.svg');
    background-position: right bottom;
    background-size: 70%;
}



.welcome_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    .main__header {
        overflow: hidden;
    }
}

.welcome__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.welcome_login {
    padding: 2rem;
    width: 100%;
    min-height: calc(100vh - 60px);
    background: #ECECEC;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login__info {
    margin-top: 0.5rem;
}

.welcome_image {
    width: 100%;
    background-image: url('/images/homeimg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 160px;
}

.header_logo {
    width: 120px;
}

h1.logo_text {
    margin-top: 10px;
    color: #000;
}

.header_tagline {
    margin: 40px 0;
    color: #000;
    font-weight: 500;
}

.login-button a {
    border-radius: 50px;
}


@media (min-width: 1025px) {
    .welcome__content {
        height: calc(100vh - 60px);
        flex-direction: row;
        justify-content: flex-start;
        .welcome_login {
            width: 66.667%;
        }
        .welcome_image {
            width: 600px;
            height: 100%;
        }

        .welcome_slant {
            width: 0;
            height: 0;
            border-bottom: calc(100vh - 60px) solid #ECECEC;
            border-left: 80px solid transparent;
        }
    }
}

.dailystats {
    margin-top: 3rem;
    .dailytotal {
        color: #000;
        font-weight: 200;
    }
    
    .dailyamount {
        font-weight: 400;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
}