.card {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.card__image {
    text-align: center;
    width: 60px;
    margin: 20px auto;
}

.card__text {
    text-align: center;
}

.card__items {
    text-align: center;
    margin: 20px;
    img {
        margin: 10px;
        width: 40px;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}