.container {
    max-width: 100%;
    padding: 0;
  }

.fixed-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main {
  overflow: auto;
  min-height: 0;
  padding-bottom: 100px;
  padding: 15px;
  margin-bottom: 5em;
}

#dash, .top__content{
  margin: 1em 0 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;
}

.tooltip-items + .tooltip > .tooltip-inner {
  background-color: #73AD21; 
  color: #FFFFFF; 
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}