.footer {
    background: #fff;
    height: 60px;
    color: #212529;
  }
  
  .footer__copyright {
    padding: 20px;
    color: #212529;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .btn-outline-primary {
      color: $light_purple;
      background-color: transparent;
      background-image: none;
      border-color: $light_purple;
      &:hover {
        color: #fff;
        background-color: $light_purple;
        border-color: $light_purple;
      }
  }