.mainHeader {
    background-color: $dark-bg;
    height: 100%;
    min-height: 100vh;
}

.main__header {
    width: 100%;
    background-color: white;
}

.main__logo {
    height: 60px;
    padding: 10px;
}

.logo__container__link {
    padding-left: 2em;
}

.logo {
    background-image: url(/images/logo-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    max-width: 70px;
    height: 75px;
}

.link-text {
    display: none;
}

.profile__picture {
    padding-right: 2em;

    .profile__picture--wrapper {
        text-align: right;
    }

    img {
        width: 60px;
        border-radius: 100px;
        padding: 10px;
    }

    p {
        color: $dark_gray;
        margin: 12px 0;
    }
}

@media (min-width: 968px) {

    .logo {
        background-image: url(/images/full-logo-white.svg);
        min-width: 140px;
        height: 80px;
        width: 100%;
        margin: 0 auto;
        margin-top:30px;
    }

    .link-text {
        display: inline-block;
    }

    .icon {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }

    .welcome_header {
        background-size: 50%;
    }

    .header_wrapper {
        margin: 0 auto;
        padding-right: 50%;
        padding-left:50px;
    }

    .header_logo {
        margin-top: 80px;
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .welcome_header {
        background-size: 40%;
    }

    .header_wrapper {
        padding-right: 500px;
    }
}

