#nav {
    background-color: #201F3F;
    width: 200px;
}

.nav {
    text-align: left;
    margin-top: 50px;
    margin-left: 30px;
}

.nav-link {
    padding: 0 0 0 10px;
}

.nav-link .icon img{
    width: 20px;
}

.nav-link .link-text {
    color: white;
}

.nav-item--title p {
    color: #EEEEEE;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}