
// Typography
$font-family-title: "Poppins", sans-serif;
$font-family-text: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-bg: #0c1153;
$light-purple: #838AD3;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #EB3D7A;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark_gray: #555B62;
$light_gray: #c7c7c7;
